.memberPic{
    border-radius: 10%;
    width: 100%;
}
#members h1{
    color: var(--carnelian);
    font-size: xxx-large;
    text-align: center;
    text-shadow: 3px 3px var(--light-gray);
    padding-bottom: 2%;
    font-family: 'Quicksand', sans-serif;
}
.memberName{
    text-shadow: 1px 1px var(--light-gray);
    padding-top: 2%;
    color: var(--carnelian);
    font-family: 'Raleway', sans-serif;
}
.memberPos{
    padding-bottom: 1%;
    font-size: x-large;
}
.infoDiv p{
    font-family: 'Quicksand', sans-serif;
}
.infoDiv strong{
    color: var(--carnelian);
}
.memberSocials i{
    font-size: xx-large;
    padding-top: 2%;
    padding-right: 2%;
    color: var(--eerie-black);
}
.memberSocials i:hover{
    color: var(--carnelian);
    cursor: pointer;
}
.addTeam-btn{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--carnelian);
    color: var(--white);
    border: none;
    width: 20%;
}
.addTeam-btn:hover{
    background-color: var(--eerie-black);
    color: var(--white);
}

#delTeam-btn{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--carnelian);
    color: var(--white);
    border: none;
    width: 70%;
    padding-right: 1%;

}

#delTeam-btn:hover{
    background-color: var(--eerie-black);
    color: var(--white);
}

.deleteDiv{
    text-align: center;
    padding: 1% 0;
}

.btnDiv{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1%;
}