.memberPic{
    border-radius: 10%;
    width: 100%;
}

.memberName{
    padding-top: 2%;
    color: var(--carnelian);
    font-family: 'Raleway', sans-serif;
}
.memberPos{
    padding-bottom: 1%;
    font-size: x-large;
}
.infoDiv p{
    font-family: 'Quicksand', sans-serif;
}
.infoDiv strong{
    color: var(--carnelian);
}