:root {
    /* CSS HEX- */
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --silver-chalice: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}
.navbar-custom{
    background-color: var(--light-gray);
    font-family: 'Space Grotesk', sans-serif;
}
.nav-logo img{
    display: block;
    margin-left: auto;
}
#navbarNav ul{
    margin-left :auto;
    margin-right: 10%;
}
.navbar-custom a{
    color: var(--carnelian);
}
.CCTIE{
    margin-left: 2%;
}
.CCTIE strong{
    color: var(--carnelian);
}
.navbar-custom a:hover{
    color: var(--rich-black-fogra-39);
}
.navbar-custom .navbar-toggler{
    background-color: var(--carnelian);
    color: var(--white);
    font-family: 'Raleway', sans-serif;
}

#footer-content{
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
#footer-content strong{
    color: var(--carnelian);
}
#footer-content a{
    font-family: 'Raleway', sans-serif;
    color: var(--eerie-black);
    text-decoration: none;
}
#footer-content a:hover{
    color: var(--carnelian);
    cursor: pointer;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
}
#footer-content h2{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5%;
}
.footer-bottom{
    background-color: var(--eerie-black);
    color: var(--carnelian);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    height: 100px;
    padding-top: 25px;
}
/*#footer{*/
/*    position: relative;*/
/*}*/
/*#footer .footer-content{*/
/*    margin-top: 5%;*/
/*    height: 350px;*/
/*    background-color: var(--light-gray);*/
/*}*/
/*#footer .footer-bottom{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    display: block;*/
/*    width: 100%;*/
/*    background-color: var(--eerie-black);*/
/*    color: var(--carnelian);*/
/*    height: 100px;*/
/*    text-align: center;*/
/*    padding-top: 25px;*/

/*}*/