/*----------TO IMPORT FONT TO AN ELEMENT----------*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Space Grotesk', sans-serif;*/
/*------------------------------------------------*/

/*General*/

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*Title*/
#MainTitle strong{
    color: var(--carnelian);
}
#TIE{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
    font-size: 30rem;
    z-index: 1;
}
/*Carousel*/
#PrimaryCarou img{
    opacity: 85%;
}
/*Mission*/
#mission .card-title{
    font-family: 'Raleway', sans-serif;
    padding-top: 1%;
    color: var(--carnelian);
    text-align: center;
}
.missionCard{
    display: flex;
}
#mission .card-text{
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
}
.missionBtn{
    text-align: center;
    padding-bottom: 1%;
}
.missionBtn a{
    background-color: var(--carnelian);
    color: var(--white);
}
/*Values*/
#value h2{
    text-align: center;
    color: var(--carnelian);
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Raleway', sans-serif;
}
.value-title{
    padding-top: 5%;
}
#value .card-block{
    color: var(--white);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.value-card{
    background-color: var(--carnelian);
    border-radius: 5%;
    height: 100%;
}
/*News*/
#news h1{
    color: var(--carnelian);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.news-img{
    border-radius: 20%;
}
#news img{
    max-width: 80%;
    border-radius: 30%;
}
#news .row h3{
    font-family: 'Quicksand', sans-serif;
    padding-top: 2%;
}
#news .btn-custom{
    font-family: 'Raleway', sans-serif;
    background-color: var(--carnelian);
    color: white;
}
