:root {
    /* CSS HEX */
    --imperial-red: #e63946ff;
    --true-red: #cd0000;
    --soft-grey: #7c7a7a;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
}

.cel_noto {
    color: var(--celadon-blue);
    font-family: 'Noto Sans JP', sans-serif;
}

.larger_text {
    font-size: 1.5rem;
    line-height: 1.5;
}

.odd_row {
    background-color: lightgrey;
    overflow: auto;
}

.even_row {
    background-color:var(--true-red);
    overflow: auto;
    color: white;
}

#logo{
    width: 15%;
    height: 20%;
    margin-left: 43%;
    margin-top: 10%;
}

.btn-info{
    color: red;
}

.login-heading{
    font-family: "Arial Rounded MT Bold";
    text-align: center;
    margin-top: 2%;
}

.login-form{
    margin-left: 31%;
}

#register-logo{
    width: 15%;
    height: 15%;
    margin-left: 42%;
    margin-top: 2%;
}

.register-card{
    margin-left: 43%;
}

.card{
    width: 65%;
    margin-top: 3%;
    margin-bottom: 30%;
}

.outer-card{
    margin-left: 15%;
    margin-top: 10%;
}

.pos{
    margin-top: 2%;
}

:root {
    /* CSS HEX */
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --silver-chalice: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}
.navbar-custom{
    background-color: var(--light-gray);
    font-family: 'Space Grotesk', sans-serif;
}
.nav-logo img{
    display: block;
    margin-left: auto;
}
#navbarNav ul{
    margin-left :auto;
    margin-right: 10%;
}
.navbar-custom a{
    color: var(--carnelian);
}
.CCTIE{
    margin-left: 2%;
}
.CCTIE strong{
    color: var(--carnelian);
}

